container{
    height:1000px;
    width: 100%;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.bg-menu{
    /*background-image: url("assets/menu/img/beans.jpg");
    background-size: cover;
    background-position: bottom;*/
    height: 200px;
    letter-spacing: 10px;
    text-align: center;
    background-repeat: no-repeat;
}

#title{
    text-align: center;
    margin-top: 10%;
    color:black;
    font-family: 'Playfair Display SC', serif;
    border-bottom: .5px black solid;
    letter-spacing: 4px;
    
}



/*menu items*/

.latte{
     background-image: url("assets/coffee/latte/latte.jpg");
    background-size: cover;
    height: 200px;
    
}

.flatwhite{
     background-image: url("assets/coffee/flatwhite/flatwhite.jpg");
    background-size: cover;
    height: 200px;
       

}

.americano{
     background-image: url("assets/coffee/americano/americano.jpg");
    background-size: cover;
    height: 200px;
       

}

.mocha{
     background-image: url("assets/coffee/mocha/mocha.jpg");
    background-size: cover;
    height: 200px;
       

}

.icedlatte{
     background-image: url("assets/coffee/icedlatte/icedlatte.jpg");
    background-size: cover;
    height: 200px;
      

    
}

.espresso{
     background-image: url("assets/coffee/espresso/espresso.jpg");
    background-size: cover;
    height: 200px;
    
}

.cappuccino{
    background-image: url("assets/coffee/cappuccino/cappuccino.jpg");
    background-size: cover;
    height: 200px;
    
}

.cortado{
    background-image: url("assets/coffee/cortado/cortado.jpg");
    background-size: cover;
    height: 200px;
    
}

.icedamericano{
    background-image: url("assets/coffee/icedamericano/icedamericano.jpg");
    background-size: cover;
    height: 200px;
    
}

.macchiato{
    background-image: url("assets/coffee/macchiato/macchiato.jpg");
    background-size: cover;
    height: 200px;
    
}

.piccolo{
    background-image: url("assets/coffee/piccolo/piccolo.jpg");
    background-size: cover;
    height: 200px;
    
}

.doubleespresso{
    background-image: url("assets/coffee/doubleespresso/doubleespresso.jpg");
    background-size: cover;
    height: 200px;
    
}

.turkish{
    background-image: url("assets/coffee/turkish/turkish.jpg");
    background-size: cover;
    height: 200px;
    
}

.bonbon{
    background-image: url("assets/coffee/bonbon/bonbon.jpg");
    background-size: cover;
    height: 200px;
    
}

.coldbrew{
    background-image: url("assets/coffee/coldbrew/coldbrew.jpg");
    background-size: cover;
    height: 200px;
    
}

.matcha{
    background-image: url("assets/coffee/matcha/matcha.jpg");
    background-size: cover;
    height: 200px;
    
}

.vienna{
    background-image: url("assets/coffee/vienna/vienna.jpg");
    background-size: cover;
    height: 200px;
    
}

.vietnam{
    background-image: url("assets/coffee/vietnam/vietnam.jpg");
    background-size: cover;
    height: 200px;
    
}

/*cup*/

.cupoutline{
    position: relative;
    width:100px;
    height:75px;
    margin-left: 50%

}

.cupoutline:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-right: solid 1px;
    border-top: solid 1px;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-25deg, 0deg);
}

.cupoutline:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(25deg, 0deg);
}

/*how to step by step*/

.stepbystep{
    list-style-type: none;
    line-height: 2.5;
}




    
    
    